<!DOCTYPE html>
<html>
<head> 
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="mlp">

		<div  class="mlp_1">
				<div>
					<h1>COOL</h1> 
					<h1>MOTOR</h1>
					<h1>BIKE</h1>
					<img src="238225_street-triple-r-hpb-may23-ss-PhotoRoom.png-PhotoRoom.png" alt="">
				</div>
		</div>

		<div  class="mlp_2">
			<div class="mlp_2_1">
				<h1>LOGIN</h1>
				<form id="form" method="post" >
					<input type="text" name="email" placeholder="E-mail" required="" ><br/>
					<input type="password" name="password" placeholder="Password" required="" ><br/>
					<input type="submit" value="Login">
				</form>
	
				<div class="mlp_2_1_3">
					<span>Do you forgot password? <a href="/forgetpass">Click here</a></span>
					<span>Create a new Account? <a href="/register">Register here</a></span>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>